*.msh
*.tif
*.asc
*.csv
*.qmd
.vscode/
anuga-core-main/
outputs/
*.sww
__pycache__/
*.pkl
*.png
*.png
*.sww
*.npz
.dat
.npy
*.qmd
*.dbf
*prj
*.shp
*.shx
*.md
*.sh
rainfall_cache/
*.txt
*.dat
*.npy